.paragraph1{
    font-size: 100%;
    color: rgb(83, 97, 49);
    margin-left: 15px;
    margin-right: 800px;
}
.paragraph{
    font-size: 300%;
    color: rgb(28, 153, 24);
    margin-left: 15px;
}
.image121{
    width: 400px;
    height: 300px;
    float: right;
    margin-top: -10px;
    margin-right:  150px ;
    position: inherit;
}
hr.line {
    border: 10px solid green;
    border-radius: 5px;
    margin-top: 250px;
}