.image1{
    width: 400px;
    height: 300px;
    float: right;
    margin-top: -15px;
    margin-right:  70px ;
    position: inherit;
    
}
.typo1 {
         margin-top: 10%;
        font-size: 300%;
        margin-left: 30px;
      font-weight: unset;
      color: slategray;
}
.typo2 {
    margin-top: -4%;
   font-size: 300%;
   margin-left: 30px;
   font-weight: unset;
   color: slategray;
}
.para{
    margin-left: 30px;
    margin-right: 750px;
    color: darkblue;
}